@font-face {
  font-family: 'Manrope';
  src: url('https://minisocl.vteximg.com.br/arquivos/Manrope-Bold.woff.css') format('woff2'),
    url('https://minisocl.vteximg.com.br/arquivos/Manrope-Bold.woff.css') format('woff');
  font-weight: normal;
  font-style: normal;
}

$font-black: 'Manrope-Bold';
$font-bold: 'Manrope-Bold';
$font-bold-condensed: 'Manrope-Bold';
$font-book: 'Manrope-Bold';
$font-book-condensed: 'Manrope-Bold';
$font-light: 'Manrope-Bold';
$font-light-condensed: 'Manrope-Bold';
$font-medium: 'Manrope-Bold';
$font-medium-condensed: 'Manrope-Bold';
$font-thin: 'Manrope-Bold';
$font-ultra: 'Manrope-Bold';
$font-xlight: 'Manrope-Bold';